<div class="media">
  <div class="pull-right media-object">
  <div style="height:60px;width:60px;padding-top:15px;">
    <%= image_tag message.user.profile_image_url.to_s, :class=>"img-responsive" %>
    </div>
  </div>
  <div class="media-body message">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-white">
        <div class="pull-right">
            <small class="text-muted">10 min ago</small>
        </div>
        <a class="text-capitalize"><%= message.user.first_name %></a>
      </div>
      <div class="panel-body">
        <%= message.body %>
      </div>
    </div>
  </div>
</div>