<div class="media" style="margin-top:0px;">
  <div class="pull-right media-object">
  <div style="height:60px;width:60px;padding-top:1px;">
    <%= image_tag(message.user.profile_image_url(:thumb), :class=>"img-responsive") %>
    </div>
  </div>
  <div class="media-body message">
    <div class="panel panel-default">
      <div class="panel-body" style="padding:10px;">
        <div class="col-md-3">
        <a class="text-capitalize"><%= message.user.first_name %></a>
        </div>
        <div class="col-md-9">
        <%= message.body %>
        </div>
      </div>
    </div>
  </div>
</div>