<div class="col-md-8" style="padding-left: 20px;" >
<div>
   <%= render 'shared/uberad' %>
</div>
</div>
<div class="col-md-2" style="padding-left: 20px;" >
  <div class="row">

   <%= render 'shared/add' %>

    </div>
  </div>
  <div class="col-md-2" style="padding-left: 30px;" >
  <div class="row">
 

    <%= render 'shared/add' %>
 
  </div>
  </div>