<div class="col-md-2"  >
</div>
<div class="col-md-6" style="padding-left: 20px;" >

   <%= render 'shared/uberad' %>
   <%= render 'shared/add' %>

</div>
<div class="col-md-4" style="padding-left: 20px;" >
  
 

    <%= render 'shared/profile' %>

  </div>