<div class="col-md-8" style="padding-left: 20px;" >
</div>
<div class="col-md-2" style="padding-left: 20px;" >
  <div class="row">
  <% (1..3).each do |i| %>
   <%= render 'shared/add' %>
    <% end %>
    </div>
  </div>
  <div class="col-md-2" style="padding-left: 30px;" >
  <div class="row">
  <% (1..2).each do |i| %>

    <%= render 'shared/add' %>
  <% end %>
  </div>
  </div>