<div class="loginform float-xs-right">
  <div class="form-inline loginform">
  <%= form_for(resource, as: resource_name,:remote => true, url: session_path(resource_name)) do |f| %>
    <label for="exampleInputName2">Email</label>  
    <%= f.email_field :email, autofocus: true, :class=>"form-control", :placeholder=>"Email", :type=>"text" %>
    <label for="exampleInputEmail2">Password</label>
    <%= f.password_field :password, autocomplete: "off", :class=>"form-control", :placeholder=>"password", :type=>"password" %>    
    <%= f.submit "Log in", :class=>"btn btn-warning" %>
    <% end %>
  </div>
  <a class="float-xs-right white" href="">forgot password</a>
</div>