   <div class="panel panel-default">
                    
                        <div class="panel-heading">
                            <div class="media">
                            
                                <div class="media-body">
                                    <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
                                    <a href="#" class="h4 margin-none"><%= link_to "#{fundraise.subject}" , fundraise_path(fundraise)%></a>
                                    <span>on 15th January, 2014</span>
                                </div>
                            </div>
                        </div>
                  
                            
                            
                                <img src="/images/place1-full.jpg" alt="place" class="img-responsive">
                                
                          
                       
                     
                            <button type="button" class="btn btn-link"><i class="fa fa-thumbs-o-up"></i> Like</button>
                            <button type="button" class="btn btn-link"><i class="fa fa-share"></i> Share</button>
                    
                              <div class="boxed">  
                    
                        <ul class="icon-list">
                                    <li><i class="fa fa-star fa-fw"></i> 4.8</li>
                                    <li><i class="fa fa-clock-o fa-fw"></i> 20 min</li>
                                    
                                    <li><i class="fa fa-graduation-cap fa-fw"></i> Rs.<%=fundraise.target%></li>
                                </ul>
                                
                    </div>    
                    </div>
                </div>