<div class="col-md-9" >
<div class="panel panel-default">
    <!-- Data table -->
    <table data-toggle="data-table" class="table" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>User</th>
          <th>Title</th>
          <th>Goal</th>
          <th>Raised Amount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>User</th>
          <th>Title</th>
          <th>Goal</th>
          <th>Raised Amount</th>
          <th>Action</th>
        </tr>
      </tfoot>
      <tbody>
      <%= render :partial => 'fundraises/my_fundraise', :collection => @my_fundraises %>
      </tbody>
    </table>
    <!-- // Data table -->
  </div>
  <div style="padding-left:30px;">
   <%= render 'shared/uberad' %>
</div>
  </div>

   <div class="col-md-3" style="padding-left: 0px;
    padding-right: 0px;">
    

  <% (1..2).each do |i| %>
<div class="col-md-6">
    <%= render 'shared/120x600' %>
    </div>
    <div class="col-md-6" style="padding-left: 5px;">
    <%= render 'shared/120x600' %>
      </div>
  <% end %>

    </div>  