<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @cause.subject %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
      <h3>
        <%= @cause.description %>
      </h3>
  
   </div>
</div>
