<tr>
  <td><%= job.subject %></td>
  <td><%=job.description%></td>
  <td><%job.mentionees(User).each do |user|%>
  
    <%= link_to "#{user.first_name} #{user.last_name}", user_path(user), :class => "text-capitalize"%>
    <%end%>
  </td>
  <td>
    <a href="#" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil"></i></a>
    <a href="#" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Delete"><i
              class="fa fa-times"></i></a>
  </td>
</tr>




