<div class="col-md-10">
<div class="ibox-title" style="background-color: white;">
      <h1 class="title pull-left" style="margin-top: 10px;
    margin-bottom: 10px; margin-left: 10px;">
        <%= "Jobs" %>
      </h1>
     
        <%= link_to "Create a Job", new_job_path, class: 'btn btn-primary pull-right ', :style=> "margin-top: 10px;
    margin-right: 10px;"%>
    
      <div class="clearfix"></div>
   
</div>

<div class="panel panel-default">
    <!-- Data table -->
    <table data-toggle="data-table" class="table" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Office</th>
          <th>Action</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Office</th>
          <th>Action</th>
        </tr>
      </tfoot>
      <tbody>
      <%= render @jobs%>
      </tbody>
    </table>
    <!-- // Data table -->
  </div>

</div>