<% if @users.empty? %>
<div class="ibox-title" style="background-color: white;">
      <h1 class="title pull-left" style="margin-top: 10px;
    margin-bottom: 10px; margin-left: 10px;">
        Don't have friends 
      </h1>
    
        <%= link_to "Find Friends", users_path, data: { turbolinks: false, disable_with: 'Wait ...' }, class: 'btn btn-primary pull-right', :style=> "margin-top: 10px;
    margin-right: 20px;"%>
     
      <div class="clearfix"></div>
   
</div>

<% else %>


<div class="panel panel-default">
    <!-- Data table -->
    <table data-toggle="data-table" class="table" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </tfoot>
      <tbody>
      <%= render :partial => 'shared/user', :collection => @users %>
      </tbody>
    </table>
    <!-- // Data table -->
  </div>
<% end %> 
