<div class="timeline-block">
  <div class="panel panel-default">
    <div class="panel-body text-center" style="padding-bottom:5px;">
      <%= link_to "#{cause.subject}" , cause_path(cause), :class => "h4 margin-none text-capitalize"%>
      
    </div>
      <img src="images/food1-full.jpg" alt="image" class="img-responsive" style="padding:5px;" />
    <div class="panel-body" style="padding-bottom:5px;padding-top:5px;">
      <p class="text-capitalize"><%=cause.description%></p>
      <div>
        <a href="#" class="text-muted"> <i class="fa fa-comments"></i> 6</a>
      </div>
    </div>
    <div class="btn-group btn-group-footer btn-group-justified" >
      <a href="#" class="btn"><i class="fa fa-heart"></i> Like</a>
      <a href="#" class="btn"><i class="fa fa-user"></i> Follow</a>
      <a href="#" class="btn"><i class="fa fa-user"></i> Share</a>
    </div>
  </div>                
</div>
