<div class="timeline-block">
                    <div class="panel panel-default">
                        
                        <div class="panel-body">
                            <div class="boxed">
                                <a href="#" class="h4 margin-none"><%= cause.subject%></a>
                                
                                <div class="media">
                                    <a href="#" class="media-object pull-left">
                                        <img src="images/food1.jpg" alt="" width="80" />
                                    </a>
                                    <div class="media-body">
                                        <p><%=cause.description%></p>
                                    </div>
                                </div>
                                <ul class="icon-list">
                                    <li><i class="fa fa-star fa-fw"></i> 4.8</li>
                                    <li><i class="fa fa-clock-o fa-fw"></i> 20 min</li>
                                    <li><i class="fa fa-graduation-cap fa-fw"></i> Beginner</li>
                                </ul>
                            </div>
                        </div>
                        
                       
                    </div>
                </div>