<li class="media">
  <div class="media-left">
    <% if activity.owner.profile_image_url %> 
    <%= image_tag(activity.owner.profile_image_url(:thumb)) %>
    <% else %>
    <img src="/images/people/50/guy-2.jpg" alt="people" class="img-circle" width="30">
    <% end %>
  </div>
  <div class="media-body">
    <%=link_to "#{activity.owner.first_name}", user_path(activity.owner), data: { turbolinks: false } %> 
    deleted from his timeline.
    <br/>
    <span class="text-caption text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></span>
  </div>
</li>