<div class="hidden-xs">
     <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                  
                    <h2 class="section-heading">Remove Illiteracy</h2>
                    <p class="lead">The level in India is well below the world average literacy rate of 84%,and of all nations, India currently has the largest illiterate population.Despite government programs, India's literacy rate increased only "sluggishly,"and a 1990 study estimated that it would take until 2060 for India to achieve universal literacy at then-current rate of progress.The 2011 census, however, indicated a 2001–2011 decadal literacy growth of 9.2%, which is the slower than the growth seen during the previous decade.</p>
                </div>
                <div class="col-md-5 col-md-offset-2 col-sm-6">
                    <img class="img-responsive" src="/images/illiteracy.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-md-5 col-md-offset-1 col-sm-push-6  col-sm-6">
                    
                    <h2 class="section-heading">Proper Sanitation</h2>
                    <p class="lead">Lack of proper sanitation is a major concern for India. Statistics conducted by UNICEF have shown that only 31% of India’s population is able to utilize proper sanitation facilities as of 2008.[14] It is estimated that one in every ten deaths in India is linked to poor sanitation and hygiene. Diarrhea is the single largest killer and accounts for one in every twenty deaths. Around 450,000 deaths were linked to diarrhea alone in 2006, of which 88% were deaths of children below five.Studies by UNICEF have also shown that diseases resulting from poor sanitation affects children in their cognitive development</p>
                </div>
                <div class="col-md-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/images/sanitation.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                  
                    <h2 class="section-heading">Remove Poverty</h2>
                    <p class="lead">Wealth distribution in India is fairly uneven, with the top 10% of income groups earning 33% of the income.Despite significant economic progress, 1/4 of the nation's population earns less than the government-specified poverty threshold of $0.40/day. Official figures estimate that 27.5% of Indians lived below the national poverty line in 2004–2005. With our website the capable people can help the poor.</p>
                </div>
                <div class="col-md-5 col-md-offset-2 col-sm-6">
                    <img class="img-responsive" src="/images/poverty.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-md-5 col-md-offset-1 col-sm-push-6  col-sm-6">
                  
                    <h2 class="section-heading">Child Labor</h2>
                    <p class="lead">This is the worst social evil in India. Children are exploited and are made to work in dangerous places like cracker factories. They are not treated properly.  Like other social evils there are rules and laws made to stop the child exploitation but nothing has been ever properly implemented in India and hence you can still see teenagers and children working in the shops and factories. </p>
                </div>
                <div class="col-md-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/images/childlabour.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                  
                    <h2 class="section-heading">Health Concern for poors</h2>
                    <p class="lead">While India has made rapid strides in raising economic growth and lifted millions out of poverty, progress in improving health outcomes has been slow. A major issue is the inequitable distribution of research efforts and funds directed towards populations suffering the world's greatest health problems. There is a need to more effectively include capable people and NGOs  in all aspects of health research in order to tackle this major issue.</p>
                </div>
                <div class="col-md-5 col-md-offset-2 col-sm-6">
                    <img class="img-responsive" src="/images/poorhealthcare.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-md-5 col-md-offset-1 col-sm-push-6  col-sm-6">
                  
                    <h2 class="section-heading">Life Threatening Diseases</h2>
                    <p class="lead">Sometimes even the middle class people need help due to the high cost of surgery and hospitality. For example people fighting with cancer need a lot of money. With the website the capable people can help the needy.</p>
                </div>
                <div class="col-md-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/images/bigdiseases.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                  
                    <h2 class="section-heading">Help Girl Child</h2>
                    <p class="lead"> Today, even the World Bank has acknowledged that there is no investment more effective for achieving the millennium development goals than educating girls. "According to the World Bank, some of the benefits associated with girls' education include reduction of child and maternal mortality, improvement of child nutrition and health, lower fertility rates and improvement in economic production".</p>
                </div>
                <div class="col-md-5 col-md-offset-2 col-sm-6">
                    <img class="img-responsive" src="/images/girlchild.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                    <center>
                   
                    
                    <h2 class="section-heading">About Us</h2></center>
                    <p class="lead">Takestand, through its platform, aims to create leaders and influencers in society who will contribute and work towards creating a social impact through crowdfunding and Impact Investing. We wish to create heroes out of everyone, and empower people to make a big difference in their own small and large ways</p>
                    <p class="lead">
                        Takestand is a tech for good venture that offers a complete crowdfunding solution that combines donation crowdfunding, rewards crowdfunding, and investment crowdfunding / fundraising for individuals, nonprofits, social enterprises, or startups for all their fundraising needs - be it small or large. 
                    </p>
                
            </div>

        </div>
        <!-- /.container -->

    </div>

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                    <center>
                   
                    
                    <h2 class="section-heading">Our Goal</h2></center>
                    <p class="lead">
                        The aim is to bring the NGO in the eye of those people who wish to bring about a positive change to the society because that’s the underlying principle of every NGO.
                    </p>
                    <p class="lead">NGOs work with a strong principle. Every NGO has a different area of concern. Championing the cause of your favourite NGO would help immensely. Spreading the word of their activities and events on Facebook, Twitter & WhatsApp would generate more participation in all their events, which in turn will create a platform perfect for raising more funds. The more vocal you are, the more the efforts of the NGO will get highlighted to the public</p>
                    <p class="lead">
                        The easiest way to make a difference to an organisation you support is to donate to their fundraiser. Takestand provides security to your donations as they go directly to the beneficiaries without any intermediate delays. In case you want to support NGOs that work towards the causes you strongly feel for
                    </p>
                
            </div>

        </div>
        <!-- /.container -->

    </div>
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                    <center>
                   
                    
                    <h2 class="section-heading">Volunteer Us</h2></center>
                    <p class="lead">Sometimes lending services is all that is required to support NGOs. Volunteering your expertise and time can make the operational tasks of an NGO much easier. The services can be as simple as clerical work, picking up donations, helping to maintain their website, advertising their work on a social media platform, etc.</p>
                    <p class="lead">
                        There is a way that every professional can help. Doctors are invaluable for health camps and blood donations, pro-bono legal services are an excellent way lawyers can be of service, even providing discounts wherever applicable can be of great help for the NGO. 
                    </p>
                
            </div>

        </div>
        <!-- /.container -->

    </div>
    

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                    <p class="copyright text-muted small">Copyright &copy; takestand. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</div>    