<div class="col-md-2"  >
    <%= render 'shared/add' %>
</div>
<div class="col-md-8"  >

<div class="content-section-a">

 

            <div class="row">
                    <center>
                   
                    
                    <h2 class="section-heading">About Us</h2></center>
                    <p class="lead">Takestand, its a social platform for Non Governmental Organization , aims to create leaders and influencers in society who will contribute and work towards creating a social impact through crowdfunding and Impact Investing. We wish to create heroes out of everyone, and empower people to make a big difference in their own small and large ways.</p>
                    <p class="lead">
                        Takestand is a tech for good venture that offers a complete crowdfunding solution that combines donation crowdfunding, fundraising for individuals, nonprofits, social enterprises, or startups for all their fundraising needs - be it small or large. 
                    </p>
                
            </div>

    
        <!-- /.container -->

    </div>
</div>
<div class="col-md-2" >
    <%= render 'shared/add' %>
</div>