<div class="center jumbotron">
<center>
    <h1>Welcome to Eachonehappy</h1>
    <% unless user_signed_in? %>
    <%= link_to "Sign up now", new_user_registration_path, class: "btn btn-lg btn-primary" %> 
    <% end %> 
  </center>
  </div>
 