<div class="col-md-5" style="padding-left: 0px;padding-right: 0px;background-color:white;">
<ul>
<%= render 'shared/activities' %>
</ul>
</div>

<div class="col-md-3" style="padding-left: 20px;" >
  <div class="row">

   <%= render 'shared/add' %>
  
    </div>
  </div>

    <div class="col-md-4" style="padding-left: 10px;" >
  <div class="row">
 

    <%= render 'shared/profile' %>

  </div>
  </div>

