<div class="col-md-6" style="padding-left: 0px;padding-right: 0px;background-color:white;">
<ul>
<%= render 'shared/activities' %>
</ul>
</div>

<div class="col-md-2" style="padding-left: 20px;" >
  <div class="row">
  <% (1..3).each do |i| %>
   <%= render 'shared/add' %>
    <% end %>
    </div>
  </div>
  <div class="col-md-2" style="padding-left: 10px;" >
  <div class="row">
  <% (1..2).each do |i| %>

    <%= render 'shared/add' %>
  <% end %>
  </div>
  </div>
    <div class="col-md-2" style="padding-left: 10px;" >
  <div class="row">
 

    <%= render 'shared/add' %>

  </div>
  </div>