<div class="col-md-2"  >
    <%= render 'shared/add' %>
</div>
<div class="col-md-8"  >
    <div class="content-section-a">

   

            <div class="row">
                    <center>
                   
                    
                    <h2 class="section-heading">Our Goal</h2></center>
                    <p class="lead">
                        The aim is to bring the NGO in the eye of those people who wish to bring about a positive change to the society because that’s the underlying principle of every NGO.
                    </p>
                    <p class="lead">NGOs work with a strong principle. Every NGO has a different area of concern. Championing the cause of your favourite NGO would help immensely. Spreading the word of their activities and events on Facebook, Twitter & WhatsApp would generate more participation in all their events, which in turn will create a platform perfect for raising more funds. The more vocal you are, the more the efforts of the NGO will get highlighted to the public</p>
                    <p class="lead">
                        The easiest way to make a difference to an organisation you support is to donate to their fundraiser. Takestand provides security to your donations as they go directly to the beneficiaries without any intermediate delays.
                    </p>
                
            </div>

       
        <!-- /.container -->

    </div>

    </div>
<div class="col-md-2" >
    <%= render 'shared/add' %>
</div>