<div class="col-md-2"  >
    <%= render 'shared/add' %>
</div>
<div class="col-md-8" style="padding:0px;" >

<div class="content-section-a" style="padding:20px;">

       

            <div class="row">
                    <center>
                   
                    
                    <h2 class="section-heading">Volunteer Us</h2></center>
                    <p class="lead">Sometimes lending services is all that is required to support NGOs. Volunteering your expertise and time can make the operational tasks of an NGO much easier. The services can be as simple as clerical work, picking up donations, helping to maintain their website, advertising their work on a social media platform, etc.</p>
                    <p class="lead">
                        There is a way that every professional can help. Doctors are invaluable for health camps and blood donations, pro-bono legal services are an excellent way lawyers can be of service, even providing discounts wherever applicable can be of great help for the NGO. 
                    </p>
                
            </div>

    
        <!-- /.container -->

    </div>

        </div>
<div class="col-md-2" >
    <%= render 'shared/add' %>
</div>