<tr>
  <td>
   <div class="text-capitalize">
      <%= contact.name %>
    </div>
  <td><%= contact.email%>
  </td>
  <td>
  <%= contact.subject %>
  </td>
  <td>
  <%= contact.message %>
  </td>
</tr>