# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
default: &default
 adapter: postgresql
 encoding: utf8
 pool: 5

development:
 <<: *default
 username: postgres
 password: postgres
 host: localhost  
 database: eachonehappy_development

test:
 <<: *default
 username: postgres
 password: postgres
 host: localhost  
 database: eachonehappy_test

 production:
 <<: *default
 username: postgres
 password: postgres
 host: 148.72.244.107
 database: eachonehappy_production
 
