<tr>
  <td><%= link_to "#{full_name(payment.user)}", user_path(payment.user), :class=>"text-capitalize" %></td>
  <td>Rs. <%= payment.amount %>
  </td>
  <td>
   
    <%= link_to "#{payment.fundraise.subject}", fundraise_path(payment.fundraise) %>
    
  </td>
  <td>
   
    <%= link_to "#{payment.fundraise.campaign.subject}", campaign_path(payment.fundraise.campaign) %>
    
  </td>
</tr>