<div class="col-md-9" >
<div class="panel panel-default">
    <!-- Data table -->
    <table data-toggle="data-table" class="table" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>User</th>
          <th>Amount</th>
          <th>Fundraise</th>
          <th>Campaign</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>User</th>
          <th>Amount</th>
          <th>Fundraise</th>
          <th>Campaign</th>
        </tr>
      </tfoot>
      <tbody>
      <%= render @payments%>
      </tbody>
    </table>
    <!-- // Data table -->
  </div>
  </div>
   <div class="col-md-3" style="padding-left: 10px;
    padding-right: 0px;">
    <div class="row">

  <% (1..3).each do |i| %>

    <%= render 'shared/add' %>
  <% end %>
  </div>
    </div>  