<div class="col-md-7">
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-gray">Start a Fundraise</div>
      <div class="panel-body">
        <div class="form-horizontal" role="form">
          <%= form_for(@payment) do |f| %>
              <div class="form-group">
                <label for="touch-spin-2" class="col-sm-3 control-label">Goal</label>
                <div class="col-sm-9">
                <%= f.text_field :amount, :class=>'form-control', :id=>"touch-spin-2", :placeholder=>"enter donation amount...", "data-toggle"=>"touch-spin", "data-min"=>"-1000000", "data-max"=>"1000000", "data-prefix"=>"$", "data-step"=>"50", :value=>"200" %>
                </div>
              </div>        
              <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <%= f.submit "Submit", class: "btn btn-primary" %>
                    </div>
                </div>
              
              <% end %>
          </div>
          
      </div>
  </div>            
</div>