<div class="col-md-9">
<div class="ibox-title" style="background-color: white;">
      <h1 class="title pull-left" style="margin-top: 10px;
    margin-bottom: 10px; margin-left: 10px;">
        <%= "Campaigns" %>
      </h1>
     
        <%= link_to "Start a Campaign", new_campaign_path, class: 'btn btn-primary pull-right ', :style=> "margin-top: 10px;
    margin-right: 10px;"%>
    
      <div class="clearfix"></div>
   
</div>
<div class="timeline row" data-toggle="gridalicious" style="padding-top: 10px;">
 <div class="timeline-block">
                    <div class="panel panel-default">
                        
                  
                            
                            
                                <img src="/images/place1-full.jpg" alt="place" class="img-responsive">
                                
                            
                        <div class="actions">
                        <div class="btn-group">
                            <button type="button" class="btn btn-link"><i class="fa fa-thumbs-o-up"></i> Like</button>
                            <button type="button" class="btn btn-link"><i class="fa fa-share"></i> Share</button>
                        </div>
                              
                    </div>
                        <div class="view-all-comments"><a href="#"><i class="fa fa-comments-o"></i> View all</a> 10 comments</div>
                        <ul class="comments">
                            <li>
                                <div class="media">
                                    <a href="" class="pull-left">
                                        <img src="/images/people/50/guy-5.jpg" class="media-object">
                                    </a>
                                    <div class="media-body">
                                        <a href="" class="comment-author">Bill D.</a>
                                        <span>Hi Mary, Nice Party</span>
                                        <div class="comment-date">21st September</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a href="" class="pull-left">
                                        <img src="/images/people/50/woman-5.jpg" class="media-object">
                                    </a>
                                    <div class="media-body">
                                        <a href="" class="comment-author">Mary</a>
                                        <span>Thanks Bill</span>
                                        <div class="comment-date">2 days</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a href="" class="pull-left">
                                        <img src="/images/people/50/guy-5.jpg" class="media-object">
                                    </a>
                                    <div class="media-body">
                                        <a href="" class="comment-author">Bill D.</a>
                                        <span>What time did it finish?</span>
                                        <div class="comment-date">14 min</div>
                                    </div>
                                </div>
                            </li>
                            <li class="comment-form">
                                <div class="input-group">
                                    <input type="text" class="form-control" />
                                    <span class="input-group-addon">
                   <a href=""><i class="fa fa-photo"></i></a>
                </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> <div class="timeline-block">
                    <div class="panel panel-default">
                        
                  
                            
                            
                                <img src="/images/place1-full.jpg" alt="place" class="img-responsive">
                                
                            
                        <div class="actions">
                        <div class="btn-group">
                            <button type="button" class="btn btn-link"><i class="fa fa-thumbs-o-up"></i> Like</button>
                            <button type="button" class="btn btn-link"><i class="fa fa-share"></i> Share</button>
                        </div>
                              
                    </div>
                        <div class="view-all-comments"><a href="#"><i class="fa fa-comments-o"></i> View all</a> 10 comments</div>
                        <ul class="comments">
                            <li>
                                <div class="media">
                                    <a href="" class="pull-left">
                                        <img src="/images/people/50/guy-5.jpg" class="media-object">
                                    </a>
                                    <div class="media-body">
                                        <a href="" class="comment-author">Bill D.</a>
                                        <span>Hi Mary, Nice Party</span>
                                        <div class="comment-date">21st September</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a href="" class="pull-left">
                                        <img src="/images/people/50/woman-5.jpg" class="media-object">
                                    </a>
                                    <div class="media-body">
                                        <a href="" class="comment-author">Mary</a>
                                        <span>Thanks Bill</span>
                                        <div class="comment-date">2 days</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a href="" class="pull-left">
                                        <img src="/images/people/50/guy-5.jpg" class="media-object">
                                    </a>
                                    <div class="media-body">
                                        <a href="" class="comment-author">Bill D.</a>
                                        <span>What time did it finish?</span>
                                        <div class="comment-date">14 min</div>
                                    </div>
                                </div>
                            </li>
                            <li class="comment-form">
                                <div class="input-group">
                                    <input type="text" class="form-control" />
                                    <span class="input-group-addon">
                   <a href=""><i class="fa fa-photo"></i></a>
                </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> <div class="timeline-block">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="media">
                                <a href="" class="pull-left">
                                    <img src="/images/people/50/woman-5.jpg" class="media-object">
                                </a>
                                <div class="media-body">
                                    <a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
                                    <a href="">Mary</a>
                                    <span>on 15th January, 2014</span>
                                </div>
                            </div>
                        </div>
                  
                            
                            
                                <img src="/images/profile-cover.jpg" alt="place" class="img-responsive">
                                
                            
                        <div class="actions">
                        <div class="btn-group">
                            <button type="button" class="btn btn-link"><i class="fa fa-thumbs-o-up"></i> Like</button>
                            <button type="button" class="btn btn-link"><i class="fa fa-share"></i> Share</button>
                        </div>
                              
                    </div>
                        <div class="view-all-comments"><a href="#"><i class="fa fa-comments-o"></i> View all</a> 10 comments</div>
                        <ul class="comments">
                            <li>
                                <div class="media">
                                    <a href="" class="pull-left">
                                        <img src="/images/people/50/guy-5.jpg" class="media-object">
                                    </a>
                                    <div class="media-body">
                                        <a href="" class="comment-author">Bill D.</a>
                                        <span>Hi Mary, Nice Party</span>
                                        <div class="comment-date">21st September</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a href="" class="pull-left">
                                        <img src="/images/people/50/woman-5.jpg" class="media-object">
                                    </a>
                                    <div class="media-body">
                                        <a href="" class="comment-author">Mary</a>
                                        <span>Thanks Bill</span>
                                        <div class="comment-date">2 days</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a href="" class="pull-left">
                                        <img src="/images/people/50/guy-5.jpg" class="media-object">
                                    </a>
                                    <div class="media-body">
                                        <a href="" class="comment-author">Bill D.</a>
                                        <span>What time did it finish?</span>
                                        <div class="comment-date">14 min</div>
                                    </div>
                                </div>
                            </li>
                            <li class="comment-form">
                                <div class="input-group">
                                    <input type="text" class="form-control" />
                                    <span class="input-group-addon">
                   <a href=""><i class="fa fa-photo"></i></a>
                </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
</div>

  <%= render @campaigns %>
</div>