/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

.bgwhite {
  background-color: #fff;
}

.panel-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
  border: 1px solid #dddddd;
  .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
  }
  .panel-footer {
    background-color: #fff;
    border-color: #ddd;
  }
}

.post {
  .post-heading {
    height: 95px;
    padding: 20px 15px;
    .avatar {
      width: 60px;
      height: 60px;
      display: block;
      margin-right: 15px;
    }
    .meta {
      .title {
        margin-bottom: 0;
        a {
          color: black;
          &:hover {
            color: #aaaaaa;
          }
        }
      }
      .time {
        margin-top: 8px;
        color: #999;
      }
    }
  }
  .post-image .image {
    width: 100%;
    height: auto;
  }
  .post-description {
    padding: 15px;
    p {
      font-size: 14px;
    }
    .stats {
      margin-top: 20px;
      .stat-item {
        display: inline-block;
        margin-right: 15px;
        .icon {
          margin-right: 8px;
        }
      }
    }
  }
  .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
    .input-group-addon a {
      color: #454545;
    }
    .comments-list {
      padding: 0;
      margin-top: 20px;
      list-style-type: none;
      .comment {
        display: block;
        width: 100%;
        margin: 20px 0;
        .avatar {
          width: 35px;
          height: 35px;
        }
        .comment-heading {
          display: block;
          width: 100%;
          .user {
            font-size: 14px;
            font-weight: bold;
            display: inline;
            margin-top: 0;
            margin-right: 10px;
          }
          .time {
            font-size: 12px;
            color: #aaa;
            margin-top: 0;
            display: inline;
          }
        }
        .comment-body, > .comments-list {
          margin-left: 50px;
        }
      }
    }
  }
}