/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

.bgwhite {
  background-color: #fff;
}

.paddingleft15 {
  padding-left: 15px;
}
.panel-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
  border: 1px solid #dddddd;
  .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
  }
  .panel-footer {
    background-color: #fff;
    border-color: #ddd;
  }
}

.post {
  .post-heading {
    height: 95px;
    padding: 20px 15px;
    .avatar {
      width: 60px;
      height: 60px;
      display: block;
      margin-right: 15px;
    }
    .meta {
      .title {
        margin-bottom: 0;
        a {
          color: black;
          &:hover {
            color: #aaaaaa;
          }
        }
      }
      .time {
        margin-top: 8px;
        color: #999;
      }
    }
  }
  .post-image .image {
    width: 100%;
    height: auto;
  }
  .post-description {
    padding: 15px;
    p {
      font-size: 14px;
    }
    .stats {
      margin-top: 20px;
      .stat-item {
        display: inline-block;
        margin-right: 15px;
        .icon {
          margin-right: 8px;
        }
      }
    }
  }
  .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
    .input-group-addon a {
      color: #454545;
    }
    .comments-list {
      padding: 0;
      margin-top: 20px;
      list-style-type: none;
      .comment {
        display: block;
        width: 100%;
        margin: 20px 0;
        .avatar {
          width: 35px;
          height: 35px;
        }
        .comment-heading {
          display: block;
          width: 100%;
          .user {
            font-size: 14px;
            font-weight: bold;
            display: inline;
            margin-top: 0;
            margin-right: 10px;
          }
          .time {
            font-size: 12px;
            color: #aaa;
            margin-top: 0;
            display: inline;
          }
        }
        .comment-body, > .comments-list {
          margin-left: 50px;
        }
      }
    }
  }
}

body {
  overflow-x: hidden;
}

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &.toggled {
    padding-left: 250px;
  }
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.0);
  margin-top: 60px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    text-indent: 20px;
    line-height: 40px;
    a {
      display: block;
      text-decoration: none;
      color: #676767;
      &:hover {
        text-decoration: none;
        color: #000000;
        background: rgba(255, 255, 255, 0.2);
      }
      &:active, &:focus {
        text-decoration: none;
      }
    }
  }
  > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    a {
      color: #999999;
      &:hover {
        color: #fff;
        background: none;
      }
    }
  }
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
    &.toggled {
      padding-left: 0;
    }
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}