<% if user_signed_in? %>
 <%= render 'layouts/chatbar'%>
  <div class="st-pusher">
    <%= render 'layouts/leftsidebar'%> 
    <%= render 'layouts/rightsidebar'%>
    <div class="st-content" id="content" style="background-color: #e2e2e2;">
      <div class="st-content-inner" style="padding-top: 8px;">
        <div class="container-fluid" style="padding-left: 5px;
    padding-right: 0px;">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<%end%>



