<% if user_signed_in? %>
  <div class="st-pusher">
    <%= render 'layouts/leftsidebar'%> 
    <div class="st-content" id="content">
      <div class="st-content-inner">
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<%end%>



