<div class="sidebar sidebar-chat right sidebar-size-2 sidebar-offset-0 chat-skin-white" id=sidebar-chat>
      <div class="split-vertical">
        <div class="chat-search">
          <input type="text" class="form-control" placeholder="Search" />
        </div>

        <ul class="chat-filter nav nav-pills ">
          <li class="active"><a href="#" data-target="li">All</a></li>
          <li><a href="#" data-target=".online">Online</a></li>
          <li><a href="#" data-target=".offline">Offline</a></li>
        </ul>
        <div class="split-vertical-body">
          <div class="split-vertical-cell">
            <div data-scrollable>
              <ul class="chat-contacts">
              <% chat_rooms.each do |chat_room|%>
                    
                <li class="online">
                  <%= link_to chat_room_path(chat_room) do  %>
                  
                    <div class="media">
                      <div class="pull-left">
                        <span class="status"></span>
                        <img src="/images/people/110/guy-6.jpg" width="40" class="img-circle" />
                      </div>
                      <div class="media-body">

                        <div class="contact-name"><%= full_name(reject_current_user(chat_room)) %></div>
                        <small>"Free Today"</small>
                      </div>
                    </div>
                  <%end%>
                </li>
                
                <%end%>
             
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    